<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tsInputModeMenuIconFileKey</key>
	<string>MenuIcon-ILIMI.tiff</string>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon-ILIMI.tiff</string>
	<key>tsInputModePaletteIconFileKey</key>
	<string>MenuIcon-ILIMI.tiff</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.jefferson.inputmethod.ilimi</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>InputMethodServerControllerClass</key>
	<string>IlimiInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>IlimiInputController</string>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>tsInputModeScriptKey</key>
	<string>smUnicode</string>
	<key>tsInputModePrimaryInScriptKey</key>
	<false/>
	<key>TISIconLabels</key>
	<dict>
		<key>Primary</key>
		<string>粒米</string>
	</dict>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
</dict>
</plist>
