<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TISInputSourceID</key>
	<string>com.jefferson.inputmethod.ilimi</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>InputMethodServerControllerClass</key>
	<string>IlimiInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>IlimiInputController</string>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
